body {
    margin: 0;
    background-color: black;
    font-family: Helvetica;
    font-size: 22px;
    color: seashell;
    opacity: 0.9;
}

h2, h3, h4 {
    margin: 0;
    padding: 10px;
    text-align: center;
}

header {
  height: 69px;
  width: 100%;
  display: flex;
  align-items: center;
  position: fixed;
  z-index: 1;
  background-color: black;
  border-bottom: 1px solid seashell;
}

header a {
  display: inline-block;
  margin-right: 20px;
  color: seashell;
}

.logo {
  flex-grow: 1;
}

.logo img {
  padding-left: 10px;
  height: 50px;
}

.main_content {
  padding-top: 69px;
  width: 1200px;
  margin: auto;
}

#mission {
  height: 700px;
  background-image: url(../img/img-mission-background.jpg);
  display: flex;
  align-items: center;
}

#mission_content {
  background-color: black;
  width: 100%;
}

#ToM {
  height: 700px;
  width: 1000px;
  margin: auto;
  padding-top: 70px;
}

.tom_items {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.item {
  display: inline-block;
  margin: 15px 15px;
}

.item img {
    width: 300px;
    height: 200px;
}

.item_desc {
  display: block;
  text-align: center;
  font-weight: bold;
  padding: 5px;
}

#locations {
  height: 500px;
  padding-top: 70px;
  background-image: url(../img/img-locations-background.jpg);
}

.loc_title h2 {
  width: 100%;
}

.loc_content {
  width: 100%;
  display: flex;
  justify-content: center;
}

.location {
  flex-basis: 280px;
  padding: 10px;
  text-align: center;
  background-color: black;
  display: inline-block;
  opacity: 1;
  margin: 5px 20px;
}

.location p {
  margin: 30px 0;
}

footer {
  text-align: center;
  margin-bottom: 50px;
}

.contact {
  height: 200px;
}

.copyright {
  text-align: left;
  margin-left: 20px;
}
